body {
    background-color:black;
    
}
.card {
    color: brown;
}
.idone {
    color: gold;
    font-size:larger;
    font-family: Verdana;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: black;
}
.cone {
    color: blue;
}
footer {
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-small;
}
.container {
    width: 100%;
    height: 650px;
    border: gold solid;
    padding: 0px;
    display: flex;
    background: linear-gradient(gold, black);
    flex-wrap: wrap;
}
.caja1 {
    width: 300px;
    height: 400px ;
    border: black solid;
    background: linear-gradient(gold, black);
}
.caja2 {
    width: 533px;
    height: 400px ;
    border: black solid;
    background: linear-gradient(gold, black);
}
.caja3 {
    width: 300px;
    height: 400px ;
    border: black solid;
    background: linear-gradient(gold, black);
}

.sub1 {
    width: 250px;
    height: 55px;
    border: gold solid;
    margin-top: 7px;
    margin-left: 16px;
    text-align: center;
    background-color: black;
    color: gold;
    padding-top: 1px;
    font-size: xx-large;
}
.caja4 {
    width: 1134px;
    height: 245px ;
    border:gold solid;
    ;
}
.sub2 {
    width: 450px;
    height: 105px;
    border: black solid;
    margin-top: 7px;
    margin-left: 40px;
    text-align: center;
    color: gold;
    padding-top: 10px;
    background-color: black;
    font-size: x-large;
}.sub3 {
    width: 250px;
    height: 55px;
    border: gold solid;
    margin-top: 7px;
    margin-left: 16px;
    text-align: center;
    background-color: black;
    color: gold;
    padding-top: 1px;
    font-size: xx-large;
}

.inf1 {
    width: 260px;
    height: 290px;
    border: gold solid;
    margin-top: 45px;
    margin-left: 0px;
    text-align: center;
    padding-top: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gold;
    font-size: x-large;
    background-color: black;
}
.inf2 {
    width: 480px;
    height: 250px;
    border: gold solid;
    margin-top: 30px;
    margin-left: -20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gold;
    background-color: black;
}

.inf3 {
    width: 260px;
    height: 290px;
    border: gold solid;
    margin-top: 45px;
    margin-left: 0px;   
    text-align: center;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gold;
    background-color: black;
    font-size: x-large;
}
@media (max-width: 375px){
    .caja2{         
        width: 370px;}
        .sub2 {
            width: 220px;
            height: 100px;
        } 
      .inf2{
            width: 220px;
            height: 400px;
      } } 
   