body {
   background: linear-gradient(black, gold)
}
section {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
main {
    height: 90vh;
}
.irm {
    height: 70vh;
}